@media print {
    #graph {
        border:  none !important;
    }
}

/****************************************************************/
/************************** GRAPH *******************************/
/****************************************************************/
#contentGraph {
}

#graph {
    width: 70%;
    float: left;
    z-index: 0;
    margin: 0px;
}

#legends {
    float: left;
    width: 70%;
    margin-left: 15px;
}

rect {
    fill: #fff;
}

.axis {
    font-size: 1.5em;
}


/********************* REGIONS *************************/
#regionValue {
    color: #416a8a;
    margin: 10px;
    font-size: 12px;
}

#regionContent ul {
    height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

#regionSelect {
    max-height: 175px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 10px;
}

#regionMap {
    height: 256px;
    width: 256px;
    border: none;
}

#regionMapDiv {
    height: 256px;
    width: 256px;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    display: none;
    position: absolute;
    top: 67px;
    margin-left: 100%;
}

#btnResetSearchRegion {
    cursor: pointer;
}

/********************* EXPORT *************************/
.exportFooter {
    fill: #FFFFFF;
}
