[submodule "Woodpecker"]
	path = Woodpecker
	url = https://github.com/GlobalCarbonAtlas/WoodpeckerObject.git
[submodule "WoodpeckerObject"]
	path = WoodpeckerObject
	url = https://github.com/GlobalCarbonAtlas/WoodpeckerObject.git
