.b-m-mpanel {
    -moz-border-radius: 4px;
    -moz-box-shadow: 0 0 4px rgba(101, 152, 30, 1);
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0 0 4px rgba(101, 152, 30, 1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    border-radius: 4px;

    background: #FFFFFF;
    filter: alpha(opacity = 75);
    -moz-opacity: 0.75;
    opacity: 0.75;
    padding: 2px 0;
    position: absolute;
    z-index: 99997;
    left: 0px;
    top: 0px;
}

.b-m-split {
    height: 6px;
//    background: url(images/contextmenu/m_splitLine.gif) center repeat-x;
    font-size: 0px;
    margin: 0 2px;
}

.b-m-item, .b-m-idisable {
    padding: 4px 2px;
    margin: 0 2px 0 3px;
    cursor: normal;
    line-height: 100%;
}

.b-m-idisable {
/*color:#808080;*/
    color: blue;
}

.b-m-ibody, .b-m-arrow {
    overflow: hidden;
    text-overflow: ellipsis;

}

.b-m-arrow {
//    background: url(images/contextmenu/m_arrow.gif) right no-repeat;
}

.b-m-idisable .b-m-arrow {
    background: none;
}

.b-m-item img, .b-m-ifocus img, .b-m-idisable img {
    margin-right: 8px;
}

.b-m-ifocus {
//    background: url(images/contextmenu/m_item.gif) repeat-x bottom;
    border: 1px solid #AACCF6;
    padding: 3px 1px;
    margin: 0 2px 0 3px;
    cursor: pointer;
    line-height: 100%;
}

.b-m-idisable img {
    visibility: hidden;
}

.subElement {
    color: gray;
}

.subElement img {
    visibility: visible;
}

.menuTitleClose {
    margin-top: -2px;
}

