/**********
*  General SVG CSS
*/

text {
    font: 14px sans-serif;
}

/**********
*  Legend
*/

.legend {
    cursor: pointer;
}

.legend circle {
    stroke-width: 2px;
}

.legend.disabled {
    opacity: 0.5;
}

/**********
*  Axes
*/

.axis path {
    fill: none;
    stroke: #000;
    stroke-opacity: .75;
    shape-rendering: crispEdges;
}

.axis path.domain {
    stroke-opacity: .75;
}

.axis line {
    fill: none;
    stroke: #000;
    stroke-opacity: .25;
    shape-rendering: crispEdges;
}

.axis line.zero {
    stroke-opacity: .75;
}

/**********
*  Line chart
*/

.point-paths path {
    /*
    fill: #eee;
    stroke: #aaa;
    */
    stroke-opacity: 0;
    fill-opacity: 0;
}

.lines path {
    fill: none;
    stroke-width: 1.5px;
    stroke-linecap: round;

    transition: stroke-width 250ms linear;
    -moz-transition: stroke-width 250ms linear;
    -webkit-transition: stroke-width 250ms linear;

    transition-delay: 250ms -moz-transition-delay: 250ms;
    -webkit-transition-delay: 250ms;
}

.line.hover path {
    stroke-width: 3px !important;
    stroke-opacity: 1 !important;
}

.lines .point {
    transition: stroke-width 250ms linear;
    -moz-transition: stroke-width 250ms linear;
    -webkit-transition: stroke-width 250ms linear;
}

.lines .point.hover {
    stroke-width: 20px;
    stroke-opacity: 0.5;
}

.line.notHover path {
    stroke-opacity: 0.5;
}

.line.notHover circle {
    stroke-opacity: 0.1;
}
