body {
    background-color: #FDFDFD;
}

h1 {
    color: #428BCA;
}

h2 {
    color: #428BCA;
}

h3 {
    font-size: 30px;
    color: #62ABEA;
}

h4 {
    color: #AAAAAA;
    font-size: 24px;
}

h5 {
    color: #333333;
    font-weight: bold;
    font-size: 1.2em;
}

/* *************** LOAD FONT FACE *************** */
@font-face {
    font-family: 'FontAwesome';
    src: url('http://netdna.bootstrapcdn.com/font-awesome/4.0.3//fonts/fontawesome-webfont.eot?v=4.0.3');
    src: url('http://netdna.bootstrapcdn.com/font-awesome/4.0.3//fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('http://netdna.bootstrapcdn.com/font-awesome/4.0.3//fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('http://netdna.bootstrapcdn.com/font-awesome/4.0.3//fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ff-element {
    padding: 3px 5px;
    border: 1px solid #888888;
    border-radius: 3px;
    float: left;
}

.ff-mail:before {
    content: "\f0e0";
}

.ff-mail {
    display: inline-block;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    color: #888888;
}

/* *************** LOAD FONT FACE *************** */

footer {
    text-align: right;
}

footer hr {
    margin-bottom: 10px;
}

.api {
    color: #0088CC;
    margin: 25px 13px 0 0;
    float: right;
}

.functions {
    color: #333333;
}

#message {
    font-size: 16px;
    height: 32px;
    margin-bottom: -16px;
    text-align: center;
}

#link {
    float: right;
    margin-top: 18px;
}

#link .git-icon {
    height: 32px;
}

.page-header.title, .page-header.title h1 {
    margin-top: 12px;
}

.page-header.sub {
    margin-top: 0;
}

.chart {
    margin-bottom: 50px;
}

.sourcecode pre {
    border-radius: 0 0 0 0;
    font-size: 1em;
    padding: 12px 0;
}

.comment {
    color: #BB3333;
}

.tag {
    color: #3333BB;
}

.attr {
    color: #BB33BB;
}

.value {
    color: #339933;
}

.default {
    color: #888888;
}

.parameter {
    color: #428BCA;
}

.highlight {
    border-left: 4px solid #CCCCCC;
}

.section {
    margin-bottom: 48px;
}

.btn {
    line-height: 1.1;
    margin-top: -5px;
}
