body {
    background-color: #FDFDFD;
}

h1 {
    color: #428BCA;
}

h2 {
    color: #428BCA;
}

h3 {
    font-size: 30px;
    color: #62ABEA;
}

h4 {
    color: #AAAAAA;
    font-size: 24px;
}

footer {
    text-align: right;
}

footer hr {
    margin-bottom: 10px;
}

#message {
    font-size: 16px;
    height: 32px;
    margin-bottom: -16px;
    text-align: center;
}

#link {
    float: right;
    margin-top: 18px;
}

#link .git-icon {
    height: 32px;
}

.page-header.title, .page-header.title h1 {
    margin-top: 12px;
}

.page-header.sub {
    margin-top: 0;
}

.chart {
    margin-bottom: 50px;
}

.sourcecode pre {
    border-radius: 0 0 0 0;
    font-size: 1em;
    padding: 12px 0;
}

.sourcecode code > .comment {
    color: #BB3333;
}

.sourcecode code > .tag {
    color: #3333BB;
}

.sourcecode code > .attr {
    color: #BB33BB;
}

.sourcecode code > .value {
    color: #339933;
}

.highlight {
    border-left: 4px solid #CCCCCC;
}

.section {
    margin-bottom: 48px;
}

.btn {
    line-height: 1.1;
    margin-top: -5px;

}